img {
    width: 100%;
  }

  a {
    text-decoration: none !important;
  }
  
  .navbar {
    background-color: #e3f2fd;
  }
  
  .list-group-item.delete:hover {
    cursor: pointer;
    background-color: pink;
  }
  .list-group-item.update {
    color: #18a2b9;
  }
  .list-group-item.update:hover {
    cursor: pointer;
    background-color: gainsboro;
  }
  .list-group-item.board {
    color: #007bff;
  }
  .list-group-item.board:hover {
    cursor: pointer;
    background-color: gainsboro;
  }
  
  .fa.fa-edit .fa-info-circle{
    color: #18a2b9;
  }
  .fa.fa-trash-o {
    color: red;
  }
  
  .landing {
    position: relative;
    /* background: url("../img/showcase.jpg") no-repeat; */
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: -24px;
    margin-bottom: -50px;
  }
  
  .landing-inner {
    padding-top: 80px;
  }
  
  .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .card-form {
    opacity: 0.9;
  }
  
  .latest-profiles-img {
    width: 40px;
    height: 40px;
  }
  
  .form-control::placeholder {
    color: #bbb !important;
  }
  
  .rt-td {
    white-space: normal !important;
    text-overflow: clip !important;
    overflow: auto !important;
  }

  .date-info {
    position: absolute;
    bottom:0;
    left: 15px;
    display: flex;
    font-size: 10px;
  }

  .paper {
    box-shadow:
      /* The second layer */
      0 -10px 0 -5px #fcfcfc,
      /* The second layer shadow */
      0 -10px 1px -4px rgba(0,0,0,0.15),
      /* The third layer */
      0 -20px 0 -10px #fcfcfc,
      /* The third layer shadow */
      0 -20px 1px -9px rgba(0,0,0,0.15);
    background: #fff;
  }

  .icon-position-right {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);
  }